.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/*.iml


.idea/vcs.xml
.svn/
IMKit/build/generated/res/
IMKit/build/generated/source/aidl/
IMKit/build/generated/source/rs/
IMKit/build/intermediates/annotations/
IMKit/build/intermediates/bundles/debug/aidl/
IMKit/build/intermediates/dependency-cache/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/accessibilityservice/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/content/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/database/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/graphics/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/hardware/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/internal/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/media/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/net/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/os/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/print/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/provider/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/text/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/util/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/view/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/widget/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/assets/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/libs/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/res/
IMKit/build/intermediates/lint/
IMKit/build/intermediates/rs/
IMKit/build/tmp/compileDebugJavaWithJavac/
chat/src/main/java-gen/
chat/src/main/java/com/android/volley/toolbox/response/
chat/src/main/res/anim/
chat/src/main/res/drawable-hdpi/
chat/src/main/res/drawable-ldpi/
chat/src/main/res/drawable-mdpi/
emoji/libs/
emoji/src/main/java/com/younchen/emoji/ui/adapter/
youn/src/main/java/com/younchen/view/
youn/src/main/java/com/younchen/widget/
youn/src/main/res/drawable/
/.gitignore
